.power-button {
    position: absolute;
    /* Ajustá posición para que quede sobre el botón físico de tu fondo */
    top: 563.5px;
    left: 680px;
    width: 53px;
    height: 36px;
    background: #222;
    color: #fff;
    /* border: .5px solid white; */
    border-radius: 18px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .power-button.on {
    background: rgba(213, 123, 6, 0.6); /* Verde cuando está encendida */
  }
  
  .power-button.off {
    background: transparent; /* Rojo cuando está apagada */
  }
  